---
title: About this page for you
layout: base.njk
---

<div class="container">
    <h1>This page is for you</h1>
    <p>It was made using HTML, CSS and JavaScript. And served as a JAMstack website.</p>
</div>
